<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper>
  <cache-ref namespace="board"/>
  
  <insert id="insert" parameterType="kh.spring.s01.board.model.vo.BoardVo">
	INSERT INTO BOARD VALUES(
    (SELECT NVL(MAX(BOARD_NUM), 0)+ 1 FROM BOARD),
    #{boardTitle},
    #{boardWriter},
    #{boardContent},
    #{boardOriginalFileName},
    #{boardRenameFileName},
    DEFAULT,
    DEFAULT,
    (SELECT NVL(MAX(BOARD_NUM), 0)+ 1 FROM BOARD),
    DEFAULT,
    DEFAULT
)
</insert>

<update id="update" parameterType="kh.spring.s01.board.model.vo.BoardVo">
	UPDATE BOARD SET
	BOARD_TITLE = #{boardTitle},
	BOARD_WRITER = #{boardWriter},
	BOARD_CONTENT = #{boardContent},
	BOARD_DATE = SYSDATE,
	WHERE BOARD_NUM = #{boardNum}
</update>

<update id="updateReadCount" parameterType="_int">
	UPDATE BOARD SET
	BOARD_READCOUNT = #{boardReadcount}
	WHERE BOARD_NUM = #{boardNum}
</update>

<update id="updateForReply" parameterType="_int">
	UPDATE BOARD
	SET BOARD_REPLY_SEQ = BOARD_REPLY_SEQ + 1 
	WHERE BOARD_REPLY_SEQ > (SELECT BOARD_REPLY_SEQ FROM BOARD WHERE BOARD_NUM = #{boardNum})
	AND BOARD_REF = (SELECT BOARD_REF FROM BOARD WHERE BOARD_NUM = #{boardNum})
</update>

<delete id="delete" parameterType="_int">
	DELETE FROM BOARD WHERE BOARD_NUM = #{boardNum}
</delete>

<select id="selectOne" resultType="_int" parameterType="_int">
	SELECT * FROM BOARD WHERE BOARD_NUM = #{boardNum}
</select>

<select id="selectList" resultType="kh.spring.s01.board.model.vo.BoardVo">
	SELECT * FROM BOARD 
</select>

<select id="selectOneCount" resultType="_int">
	SELECT COUNT(*) CNT FROM BOARD 
</select>
</mapper>
